.card__image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1200px) {
  .card__image {
    width: 100%;
    height: 200px;
  }
}

@media screen and (max-width: 992px) {
  .card__image {
    height: 160px;
  }
}

@media screen and (max-width: 576px) {
  .card__image {
    height: 250px;
  }
}

